html,
body {
  overflow: hidden;
}

.container {
  overflow: hidden;
  position: relative;
  height: 400px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 662px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  background-color: black;
}

.Search {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 8px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Search input[type="search"] {
  flex: 1;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

.Search input[type="search"]::placeholder {
  color: #999;
}


.one {
  border: 0.5px solid black;
  border-radius: 12px;
  margin:-118px 0px 0px 12px;
  float: left;
  padding-top: 12px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px) !important;
  width: 264px;
  height: 187px;

}

.two {
  float: right;
  border: 0.5px solid black;
  border-radius: 12px;
  margin: -118px 12px 0px 0px;
  font-weight: bold;
  padding-top: 25px;
  height: 390px;
  width: 214px;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(3px) !important;
}

.three {
  margin: 0px;
  align-items: center;
  color: rgb(0, 0, 0);
}

.footer {
  margin-top: auto;
  padding: 12px;
  position: absolute;
  bottom: 0;
  width: 98%;
}