body {
    margin-top: 0px;
    padding-top: 189px;
    padding-right: 476px;
    padding-left: 33px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(39, 39, 37);
    background-image: url(weather.jpg);
    background-repeat: no-repeat;
}

.Container {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 280px;
    margin-bottom: 20px;
    border-radius: 30px;
    backdrop-filter: blur(8px);
    color: rgb(195, 191, 191);
}

input[type=search] {
    border: 2px solid;
    border-radius: 20px;
    background-color: rgb(195, 191, 191);
    box-shadow: 23px 10px 20px 1px red;
    text-indent: 67px;
    height: 35px;
    color: rgb(82, 18, 5);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}